html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 50%;
  }

  @media (max-width: 1025px) {
    font-size: 50%;
  }

  @media (max-width: 768px) {
    font-size: 55%;
  }

  @media (max-width: 480px) {
    font-size: 60%;
  }

  @media (max-width: 350px) {
    font-size: 50%;
  }

  @media (min-width: 1500px) {
    font-size: 62.5%;
  }
  @media (min-width: 1700px) {
    font-size: 130%;
  }
  @media (min-width: 2000px) {
    font-size: 150%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: segoe UI, sans-serif;
}

body {
  font-size: 1.6rem;
  color: #647787;
  background-color: #f7f8fa;
}
a,
a:visited {
  text-decoration: none;
  // color: inherit;
  cursor: pointer;
  transition: 0.3s ease-out;
}
input,
input:active,
textarea,
textarea:active {
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
h1 {
  font-size: 2.4rem;
  margin: 0.5rem 0;
}
button {
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  * {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
    &.spaced > * {
      margin: 0;
      margin-top: 0.6rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.center-align {
    align-items: center;
  }
  &.spaced > * {
    margin: 0;
    margin-left: 1.2rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.spaced-lg > * {
    margin-left: 1.2rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.spaced-xl > * {
    margin-left: 2.4rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
  & .flex-one {
    flex: 1;
  }
}

.black {
  color: #000000;
}

.gray {
  color: #4f4f4f;
}

.title {
  font-size: 3rem;
  color: #262626;
  margin: 2rem 0;
}
